.main-content {
    min-height: 800px;
}

.button.floating {
    position: fixed;
    bottom: 50px;
    right: 150px;
}

.tile > .field {
    width: 100%;
}

.tile-course {
    margin-top: 25px;
}

#create-task-btn, #add-member-btn {
    margin-top: 25px;
    text-decoration: none;
}

.member-list > .tag > strong{
    margin-right: 5px;
}

.notification a:not(.button):not(.dropdown-item) {
    text-decoration: none;
}

#message-container {
    position: fixed;
    right: 25%;
    bottom: 50px;
    height: 100px;
    width: 400px;
}

#menu-box {
    position: fixed;
}
